<h3>Calibrations</h3><p class="text-muted">Tag number: <%= params[:tag] %></p>
<div class="table-responsive">
  <table class="table">
    <colgroup>
      <col span="6" width="100">
    </colgroup>
    
    <tr>
      <th>Luminance</th>
      <th>X Value</th> 
      <th>Y Value</th>
      <th>Attempts</th>
      <th>Green</th>
      <th>Date</th>
    </tr>
    
    <% @calibrations.each do |calibration| %>
      <tr align="center">
        <td><%= calibration.luminance %></td>
        <td><%= calibration.x_value %></td> 
        <td><%= calibration.y_value %></td>
        <td><%= calibration.attempts %></td>
        <td><%= calibration.green.humanize %></td>
        <td><%= calibration.date.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </table>
</div>

<a href="/monitors/<%= @monitor.tag %>/calibrations/new">Add Calibration</a>